<template name="partiesShow">
	<div class="row">
		<div class="col col-lg-6">
			{{#with party}}
				<h3>{{name}} ({{year}})
					<small>
						- voting {{#if party.votingOpen}}open{{else}}closed{{/if}}
						{{#if showToggleVotingOpenButton}}
							(<a id="toggle-party-voting-open" href>toggle</a>)
						{{/if}}
					</small>
				</h3>
			{{/with}}
		</div>
		<div class="col col-lg-6">
			<ul class="nav nav-pills pull-right">
				{{#if showYourVotes}}
					<li><a href="#your-votes">Your votes</a></li>
				{{/if}}
				<li><a href="#party-ladder">Party standings</a></li>
				<li><a href="#country-ladder">Eurovision standings</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		{{#if showYourVotes}}
			<div class="col col-lg-{{colWidth}}">
				<a id="your-votes"></a>
				<h3>Your votes</h3>
				<div class="panel">
					<div class="panel-heading">How to vote</div>
					When you watch a song, give the song a score out of 100.  The system will use that score to create your top 10 songs.
				</div>
				<label>
					Quick select: 
					<select id="country-quick-select">
						{{#each countries}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</label>
				<div class="countries-list">
					{{#each yourCountryRank}}
						<div id="country{{id}}" class="country panel">
							<div class="row">
								<div class="name col col-lg-9 col-sm-9">
									<img class="flag" src="{{flagPath}}" />
									{{name}}
									<span class="score pull-right">
										{{#if isEditing}}
											<form class="edit-score">
												<input type="text" class="edit-score" value="{{voteScore}}" />
												<input type="submit" class="btn btn-primary" value="✔" />
											</form>
										{{else}}
											{{voteScore}}
										{{/if}}
									</span>
								</div>
								<div class="your-country-rank col col-lg-3 col-sm-3">
									{{#if rank}}#{{rank}}{{/if}}
								</div>
							</div>
							{{#if isFocusing}}
								<div class="image">
									<img class="image" src="{{imagePath}}" />
								</div>
								<div class="song">
									<span class="glyphicon glyphicon-headphones"></span>
									{{song}}
								</div>
								<div class="artist">
									<span class="glyphicon glyphicon-user"></span>
									{{artist}}
								</div>
							{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
		{{/if}}
		<div class="col col-lg-{{colWidth}}">
			<a id="party-ladder"></a>
			<h3>
				Party standings
				{{#if showAddUserButton}}
					<small> - (<a id="add-user" href="{{partiesUsersPath party}}">manage users</a>)</small>
				{{/if}}
			</h3>
			<div class="panel">
				<div class="panel-heading">How party standings work</div>
				Every song in your top 10 that is also in the Eurovision top 10 gives you <strong>one point</strong>.  Every song in your top 10 that exactly matches the Eurovision standings gives you <strong>one extra point</strong>.
			</div>
			<table class="table table-striped">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Score</th>
				</tr>
				{{#each partyUsersByScore}}
					<tr>
						<td>#{{rank}}</td>
						<td>{{username}}</td>
						<td>{{score}}</td>
					</tr>
				{{/each}}
			</table>
		</div>
		<div class="col col-lg-{{colWidth}}">
			<a id="country-ladder"></a>
			<h3>Eurovision standings</h3>
			<div class="panel">
				<div class="panel-heading">What are Eurovision standings?</div>
				The points that you see here are exactly the same as the points you see on TV.
			</div>
			{{#if showCountryScoreInputs}}
				<div>
					<label>
						Search:
						<input id="country-ladder-search" />
					</label>
				</div>
			{{/if}}
			<table class="table table-striped country-ladder">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Score</th>
				</tr>
				{{#each countriesByScore}}
					<tr>
						<td>#{{rank}}</td>
						<td>
							<img class="flag" src="{{flagPath}}" />
							{{name}}
						</td>
						<td>
							{{#if showCountryScoreInputs}}
								<form class="country-score">
									<input class="country-score" value="{{score}}" />
									<input type="submit" />
								</form>
							{{else}}
								{{score}}
							{{/if}}
						</td>
					</tr>
				{{/each}}
			</table>
		</div>
	</div>

</template>
