<template name="partiesShow">
	<div class="row">
		<div class="col col-lg-6">
			{{#with party}}
				<h3>{{name}} ({{year}})
					<small>
						- voting {{#if party.votingOpen}}open{{else}}closed{{/if}}
						{{#if showToggleVotingOpenButton}}
							(<a id="toggle-party-voting-open" href>toggle</a>)
						{{/if}}
					</small>
				</h3>
			{{/with}}
		</div>
		<div class="col col-lg-6" data-spy="affix" data-offset-top="100">
			<ul class="nav nav-pills pull-right">
				{{#if showYourVotes}}
					<li><a href="#your-votes">Your votes</a></li>
				{{/if}}
				<li><a href="#party-ladder">Party ladder</a></li>
				<li><a href="#country-ladder">Country ladder</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		{{#if showYourVotes}}
			<div class="col col-lg-4">
				<a id="your-votes"></a>
				<h3>Your votes</h3>
				<h4>To vote, click a country below, or choose one from the quick select.</h4>
				<label>
					Quick select: 
					<select id="country-quick-select">
						{{#each countries}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</label>
				<div class="countries-list">
					{{#each yourCountryRank}}
						<div id="country{{id}}" class="country panel">
							<div class="row">
								<div class="name col col-lg-6 col-sm-6">
									<img class="flag" src="{{flagPath}}" />
									{{name}}
								</div>
								<div class="your-country-rank col col-lg-3 col-sm-3">
									{{#if rank}}#{{rank}}{{/if}}
								</div>
								<div class="score col col-lg-3 col-sm-3">
									{{#if isEditing}}
										<form class="edit-score">
											<input class="edit-score" value="{{voteScore}}" />
											<input type="submit" />
										</form>
									{{else}}
										{{voteScore}}
									{{/if}}
								</div>
							</div>
							{{#if isFocusing}}
								<div class="image">
									<img class="image" src="{{imagePath}}" />
								</div>
								<div class="song">
									<span class="glyphicon glyphicon-headphones"></span>
									{{song}}
								</div>
								<div class="artist">
									<span class="glyphicon glyphicon-user"></span>
									{{artist}}
								</div>
							{{/if}}
						</div>
					{{/each}}
				</div>
			</div>
		{{/if}}
		<div class="col col-lg-4">
			<a id="party-ladder"></a>
			<h3>
				Party ladder
				{{#if showAddUserButton}}
					<small> - (<a id="add-user" href="{{partiesUsersPath party}}">manage</a>)</small>
				{{/if}}
			</h3>
			<table class="table table-striped">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Score</th>
				</tr>
				{{#each partyUsersScores}}
					<tr>
						<td>#{{rank}}</td>
						<td>
							<img class="flag" src="{{flagPath}}" />
							{{name}}
						</td>
						<td>{{score}}</td>
					</tr>
				{{/each}}
			</table>
		</div>
		<div class="col col-lg-4">
			<a id="country-ladder"></a>
			<h3>Country ladder</h3>
			<table class="table table-striped country-ladder">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Score</th>
				</tr>
				{{#each countriesByScore}}
					<tr>
						<td>#{{rank}}</td>
						<td>
							<img class="flag" src="{{flagPath}}" />
							{{name}}
						</td>
						<td>
							{{#if showCountryScoreInputs}}
								<form class="country-score">
									<input class="country-score" value="{{score}}" />
									<input type="submit" />
								</form>
							{{else}}
								{{score}}
							{{/if}}
						</td>
					</tr>
				{{/each}}
			</table>
		</div>
	</div>

</template>
