.login-link-and-dropdown-list {
	margin-top: 2px;
	margin-left: 2px;
	position: relative;
	display: block;
	padding: 10px 15px;
}

.header {
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
	h3 {
		margin-left: 20px;
		line-height: 40px;
		padding-bottom: 10px;
	}
}