.login-link-and-dropdown-list {
	margin-top: 2px;
	margin-left: 2px;
	position: relative;
	display: block;
	padding: 10px 15px;
}

.header {
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
	h3 {
		margin-left: 20px;
		line-height: 40px;
		padding-bottom: 10px;
	}
}

.countries-list {
	.country {
		background-color: #e5e5e5;
		.name {
			font-weight: bold;
			font-size: 18px;
			line-height: 45px;
			img {
				margin-bottom: 0.25em;
			}
		}
		.score, .your-country-rank {
			text-align: right;
			font-size: 32px;
		}
		.your-country-rank {
			color: #aaa;
		}
		img.image {
			margin-top: 10px;
			border: 5px solid white;
		}
		.artist {
			text-align: right;
			.glyphicon {
				float: right;
				margin-left: 5px;
			}
		}
		.song {
			text-align: right;
			margin-top: 10px;
			.glyphicon {
				float: right;
				margin-left: 5px;
			}
		}
		form.edit-score {
			input.edit-score {
				display: inline-block;
				width: 80px;
				text-align: right;
				font-size: 32px;
			}
		}
	}
}

.user-country-flags {
	width: 120px;
}

.country-ladder {
	img.flag {
		margin-bottom: 0.25em;
	}
	form.country-score {
		[type=submit] {
			display: none;
		}
	}
}